@import '../../styles/variables.scss';

.room-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;

    .room-form {
        align-self: flex-start;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 100%;
    }

    .rooms-wrapper {
        flex-grow: 1;
        overflow-y: auto;
    }

    .rooms {
        display: flex;
        flex-direction: column;
        position: relative;

        .room {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .room-list {
        flex-direction: row;
        justify-content: flex-start;

        .room-form {
            margin-left: 0;
            margin-right: 10px;
            min-width: 375px;
            width: auto;
        }

        .rooms {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 0;

            .room {
                align-self: flex-start;
                margin: 0 10px 20px;
                max-width: 265px;
                width: 100%;
            }
        }
    }
}

