@import '../../styles/variables.scss';

.room-list {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 25px;

    .room-form {
        align-self: flex-start;
        min-width: 375px;
        margin: 0 auto;
    }

    .rooms {
        display: flex;
        margin-top: 25px;
        position: relative;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;

        .room {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .room-list {
        flex-direction: row;
        justify-content: flex-start;

        .room-form {
            margin-right: 10px;
        }

        .rooms {
            margin-top: 0;
            flex-direction: row;
            flex-wrap: wrap;

            .room {
                align-self: flex-start;
                margin: 0 10px 20px;
                max-width: 255px;
                width: 255px;
            }
        }
    }
}
