@import '../../styles/variables.scss';
@import '../../styles/shared.scss';

.mobile-menu {

    .menu-btn {
        cursor: pointer;
        font-size: 1.5rem;
    }
}

.mobile-menu-sidebar {
    text-align: center;

    .mobile-menu-sidebar-content {
        background: rgba(0, 0, 0, .5);
        padding: 50px 50px 0;

        .menu-item {
            margin: 15px 0;
        }
    }

    .user-avatar {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: $screen-sm) {

    .mobile-menu {
        display: none;
    }

    .mobile-menu-sidebar {
        display: none;
    }
}
