@import '../../styles/variables.scss';

.mobile-menu {

    .menu-btn {
        cursor: pointer;
        font-size: 1.5rem;
    }
}

.mobile-menu-sidebar {
    text-align: center;

    .mobile-menu-sidebar-content {
        background: $dark-brown;
        padding-top: 50px;
        width: 300px;

        .menu-item {
            padding: 10px 0;
        }
    }

    .user-avatar {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: $screen-sm) {

    .mobile-menu {
        display: none;
    }

    .mobile-menu-sidebar {
        display: none;
    }
}
