@import '../../styles/variables.scss';

.actions-log-container {
    z-index: 100;
    padding: 7px 12px 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 14%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0, 0, 0, .3);
    min-width: 200px;
    box-shadow:  -1px 1px 3px 2px rgba(0, 0, 0, .2);
    font-weight: 600;
    color: rgba(255, 255, 255, .8);

    &.expanded {
        background: rgba(255, 255, 255, .7);
        color: $dark-gray;

        .logs {

            .log {

                [class^="region-"] {
                    background: none;
                }
            }
        }
    }

    .logs {
        max-height: 310px;
        overflow-y: auto;

        .log {
            display: flex;
            align-items: center;
            font-size: .9rem;
            margin-bottom: 12px;

            &.is-last {
                margin-bottom: 0;
            }

            .action-log-label {
                margin-left:5px;
            }

            .token-icon {
                max-height: 24px;
                max-width: 24px;
            }

            .card {
                max-height: 30px;
                margin-left: 10px;
                width: auto;
                padding: 1px;
                box-shadow: none;
                border-radius: 2px;

                .card-content {
                    border-radius: 2px;

                    * {
                        display: none;
                    }
                }
            }

            [class^="region-"] {
                background: rgba(255, 255, 255, .7);
                border-radius: 2px;
                padding: 2px 3px;
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }

            .region-green {
                color: $card-green;
            }

            .region-red {
                color: $card-red;
            }

            .region-gray {
                color: $card-gray;
            }

            .region-orange {
                color: $card-orange;
            }

            .region-blue {
                color: $card-blue;
            }

            .region-purple {
                color: $card-purple;
            }
        }
    }

    .actions-log-bg {
        backdrop-filter: blur(15px);
        height: 100%;
        left: 0;
        opacity: .3;
        position: absolute;
        top: 0;
        transition: opacity .4s ease;
        width: 100%;
        z-index: -1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .actions-log-toggle {
        position: absolute;
        left: -25px;
        top: 0;
        transform: translateY(75%);
        z-index: 101;
        color: rgba(0, 0, 0, .5);
        cursor: pointer;
    }
}
