@import '../../styles/variables.scss';

.region {
    cursor: pointer;
    position: relative;
    position: absolute;

    .region-img,
    .region-img-outlined {
        height: auto;
        max-width: 100%;
        user-select: none;
    }

    &:hover {

        .region-img {
            display: none;
        }
    }

    &:not(:hover) {

        .region-img-outlined {
            display: none;
        }
    }

    .region-values {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
    }

    .region-value {
        background: rgba(0, 0, 0, .5);
        color: white;
        font-family: QuadratDemibold;
        margin-right: 15px;
        font-size: .7rem;
        text-shadow: .5px .5px 3px black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &.red {

        .player-tokens-container {
            bottom: 30%;
        }

        .region-values {
            left: 46%;
            top: 30%;

            .region-value {
                background: rgba(134, 11, 11, 0.4);
            }
        }
    }

    &.blue {

        .player-tokens-container {
            bottom: 32%;
            left: 57%;
        }

        .region-values {
            left: 55%;
            top: 30%;

            .region-value {
                background: rgba(14, 74, 130, 0.4);
            }
        }
    }

    &.gray {

        .player-tokens-container {
            bottom: 34%;
            left: 58%;
        }

        .region-values {
            left: 35%;
            top: 30%;

            .region-value {
                background: rgba(62, 62, 62, 0.4);
            }
        }
    }

    &.orange {

        .player-tokens-container {
            bottom: 30%;
            left: 55%;
        }

        .region-values {
            top: 28%;

            .region-value {
                background: rgba(149, 74, 9, 0.4);
            }
        }
    }

    &.green {

        .player-tokens-container {
            bottom: 65%;
            left: 48%;
        }

        .region-values {
            left: 55%;
            top: 42%;

            .region-value {
                background: rgba(6, 85, 13, 0.3);
            }
        }
    }

    &.purple {
        left: -5.7%;
        top: -31%;

        .player-tokens-container {
            bottom: 37%;
            left: 48%;
            width: 66%;
        }

        .region-values {
            top: 30%;

            .region-value {
                background: rgba(67, 33, 80, 0.35);
            }
        }
    }

    .player-tokens-container {
        position: absolute;
        bottom: 25%;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        display: flex;
        gap: 0 5%;
        width: 68%;
    }

    .player-tokens {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0;
    }

    @for $i from 2 through 100 {
        .player-token:nth-child(#{$i}) {
            position: absolute;
            transform: translateX(calc($i - 1) * 4%)  translateY(calc($i - 1) * -10%);;
            transform-origin: center;
            z-index: $i;
        }
    }

    .player-token {
        border: 1px solid white;
        border-radius: 50%;
        width: 100%;
        height: auto;
        max-width: 35px;
        margin: 2px 0;
        box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);

        &.white,
        &.yellow {
            border-color: $dark-gray;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .region {

        .region-value {
            height: 25px;
            font-size: .9rem;
            width: 25px;
        }
    }
}
