@import '../../styles/variables.scss';

.region {
    cursor: pointer;
    position: relative;
    position: absolute;

    .selectable-area {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 25;
    }

    .region-img,
    .region-img-outlined {
        height: auto;
        max-width: 100%;
        user-select: none;
    }

    &.hover {

        .region-img {
            display: none;
        }
    }

    &:not(.hover) {

        .region-img-outlined {
            display: none;
        }
    }

    .region-values {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
    }

    .region-value {
        background: rgba(0, 0, 0, .5);
        color: white;
        font-family: QuadratDemibold;
        margin-right: 12.5px;
        font-size: .7rem;
        text-shadow: .5px .5px 3px black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .player-tokens-container {
        position: absolute;
        z-index: 10;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 0 5%;
        width: 68%;

        &.multi-row {
            gap: 0;

            .player-tokens {

                &:nth-child(even) {
                    margin-top: 40px;
                }

                &:nth-child(odd) {
                    margin-top: 0; /* Keep even elements in the main row */
                }

                @for $i from 2 through 100 {
                    &:nth-child(#{$i}) {
                        transform: translateX(calc(1 - $i) * 22%) ;
                        transform-origin: center;
                        z-index: 7 - $i;
                    }
                }
            }
        }
    }

    &.blue {

        .selectable-area {
            top: 45%;
            height: 78%;
        }

        .player-tokens-container {
            top: 42%;
            left: 52%;
            transform: translateX(-50%);

            &.multi-row {
                left: 57%;
            }
        }

        .region-values {
            left: 55%;
            top: 28%;

            .region-value {
                background: rgba(14, 74, 130, 0.4);
            }
        }
    }

    &.gray {

        .selectable-area {
            top: 45%;
            height: 80%;
        }

        .player-tokens-container {
            top: 42%;
            left: 50%;

            &.multi-row {
                top: 36%;
                left: 57%;
            }
        }

        .region-values {
            top: 23%;

            .region-value {
                background: rgba(62, 62, 62, 0.4);
            }
        }
    }

    &.green {

        .selectable-area {
            top: 44%;
            height: 70%;
        }

        .player-tokens-container {
            top: 20%;
            left: 48%;
            transform: translateX(-50%);

            &.multi-row {
                top: 10%;
                left: 54%;
            }
        }

        .region-values {
            left: auto;
            right: -5%;
            top: 52%;

            .region-value {
                background: rgba(6, 85, 13, 0.3);
            }
        }
    }

    &.orange {

        .selectable-area {
            height: 78%;
        }

        .player-tokens-container {
            top: 46%;
            left: 52%;
            transform: translateX(-50%);

            &.multi-row {
                top: 43%;
                left: 61%;
            }
        }

        .region-values {
            top: 28%;

            .region-value {
                background: rgba(149, 74, 9, 0.4);
            }
        }
    }

    &.purple {
        left: -5.7%;
        top: -31%;

        .selectable-area {
            height: 78%;
        }

        .player-tokens-container {
            top: 41%;
            left: 48%;
            transform: translateX(-50%);

            &.multi-row {
                top: 36%;
                left: 52%;
            }
        }

        .region-values {
            top: 26%;

            .region-value {
                background: rgba(67, 33, 80, 0.35);
            }
        }
    }

    &.red {

        .player-tokens-container {
            top: 50%;
            left: 48%;
            transform: translateX(-50%);

            &.multi-row {
                left: 54%;
                top: 43%;
            }
        }

        .region-values {
            left: 46%;
            top: 29%;

            .region-value {
                background: rgba(134, 11, 11, 0.4);
            }
        }
    }

    .player-tokens {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0;
        flex-shrink: 0;
        position: relative;
    }

    @for $i from 2 through 100 {
        .player-token:nth-child(#{$i}) {
            position: absolute;
            transform: translateX(calc($i - 1) * 4%) translateY(calc($i - 1) * -10%);
            transform-origin: center;
            z-index: $i;
        }
    }

    .player-token {
        border: 1px solid white;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-top-width: .5px;
        border-right-width: .5px;
        border-radius: 50%;
        width: 100%;
        height: auto;
        max-width: 35px;
        margin: 2px 0;
        box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);

        &.white,
        &.yellow {
            border-color: $dark-gray;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .region {

        .region-value {
            height: 25px;
            font-size: .9rem;
            width: 25px;
        }
    }
}
