@import '../../styles/variables.scss';

.region {
    border: 2px solid transparent;
    position: relative;
    // height: 150px;
    // width: 150px;

    .region-img,
    .region-img-outlined {
        height: auto;
        width: 100%;
    }

    &:hover {
        .region-img {
            display: none;
        }
    }

    &:not(:hover) {

        .region-img-outlined {
            display: none;
        }
    }

    // &.blue {
    //     // border-color: $card-blue;
    //     left: 20%;
    //     top: 20%;
    //     transform: translate(-20%, -20%);
    // }

    // &.red {
    //     // border-color: $card-red;
    //     right: 45%;
    //     top: 15%;
    //     transform: translate(45%, -15%);
    // }

    // &.gray {
    //     // border-color: $card-gray;
    //     right: 15%;
    //     top: 20%;
    //     transform: translate(15%, -20%);
    // }

    // &.purple {
    //     // border-color: $card-purple;
    //     left: 33%;
    //     top: 50%;
    //     transform: translate(-33%, -50%);
    // }

    // &.orange {
    //     // border-color: $card-orange;
    //     left: 56.5%;
    //     top: 50%;
    //     transform: translate(-56.5%, -50%);
    // }

    // &.green {
    //     // border-color: $card-green;
    //     right: 23%;
    //     top: 50%;
    // }

    .region-values {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .region-value {
        color: white;
        font-family: QuadratDemibold;
        margin-right: 15px;
        font-size: 1rem;
        border: 2px solid white;
        padding: 5px 10px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
