@import '../../styles/variables.scss';

.game-settings {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: $dark-gray;
    margin: 50px auto;
    max-width: 375px;
    padding: 25px 15px 28px;
    position: relative;
    text-align: center;
    width: 100%;

    .btn-back {
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
        left: 0;
        position: absolute;
        top: -55px;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

        .back-icon {
            margin-right: 5px;
            font-size: .9rem;
        }
    }

    .section {
        border-top: 1px solid $light-gray-2;
        margin-bottom: 20px;
        padding-top: 23px;

        .section-title {
            background: white;
            border: 1px solid $light-gray-2;
            border-radius: 5px;
            color: $teal;
            left: 50%;
            padding: 2px 10px;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
        }
    }

    .players {
        border-radius: 4px;
        position: relative;

        .player {
            background-color: white;
            border-radius: 4px;
            box-sizing: border-box;
            color: $dark-gray;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 5px;
            padding: 5px;
        }
    }

    .room-title {
        font-family: CaxtonStd-Bold;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .settings {
        border-radius: 4px;
        margin-bottom: 20px;
        padding-top: 25px;
        position: relative;

        .instructions {
            position: relative;

            .instructions-separator {
                margin: 0 25px;
            }

            .tribes-text {
                color: $teal;
                cursor: pointer;
                font-weight: bold;
                position: relative;
                text-decoration: underline;

                .info-icon-wrapper {
                    border: 1px solid $teal;
                    border-radius: 50%;
                    display: inline-block;
                    height: 11px;
                    width: 11px;
                    padding: 1px;
                    position: absolute;
                    top: -8px;
                    right: -15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .info-icon {
                        font-size: .6rem;
                        color: $teal;
                    }
                }
            }

            .btn {
                margin-left: 8px;
            }
        }

        .tribes {
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .tribe-icon {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 10px;
            }
        }
    }

    .tribes-modal {
        width: 85%;
        border-color: rgba(0, 0, 0, 0.6);
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $medium-gray-3;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: white;

        .btn-close {

            .btn-close-icon {
                color: black;
            }
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 15px;
            box-sizing: border-box;
            max-height: 625px;
            overflow: auto;

            .card {
                margin: 7px;
            }
        }
    }

    .btn-leave-wrapper {
        bottom: -55px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

        .btn-leave {
            padding: 8px 12px;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .game-settings {

        .btn-back {
            position: fixed;
            left: 20px;
            top: 15px;
        }
    }
}

