@import '../../styles/variables.scss';

.game-settings {
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: $dark-gray;
    margin: 50px auto;
    max-width: 375px;
    padding: 18px 15px;
    position: relative;
    text-align: center;
    width: 100%;

    > * {
        margin-bottom: 15px;
    }

    .btn-back {
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);

        .back-icon {
            margin-right: 5px;
            font-size: .9rem;
        }
    }

    .btn-outline {
        position: fixed;
        left: 20px;
        top: 15px;
    }

    .players {
        border-radius: 4px;
        border-top: 1px solid $light-gray-2;
        margin-bottom: 25px;
        padding-top: 22px;
        position: relative;

        .player {
            background-color: white;
            border-radius: 4px;
            box-sizing: border-box;
            color: $dark-gray;
            display: inline-block;
            margin-right: 10px;
            padding: 5px;
        }

        .players-title {
            background: white;
            border: 1px solid $light-gray-2;
            border-radius: 5px;
            color: $teal;
            left: 50%;
            padding: 1px 10px;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
        }
    }

    .room-title {
        font-family: CaxtonStd-Bold;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .settings {
        border-radius: 4px;
        border-top: 1px solid $light-gray-2;
        margin-bottom: 20px;
        padding-top: 25px;
        position: relative;

        .instructions {
            margin-bottom: 30px;

            .btn {
                font-size: .9rem;
                margin-left: 8px;
                padding: 3px 8px;
            }
        }

        .settings-title {
            background: white;
            border: 1px solid $light-gray-2;
            border-radius: 5px;
            color: $teal;
            left: 50%;
            padding: 1px 10px;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
        }

        .tribes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .tribe-icon {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 10px;
            }
        }
    }
}

