@import '../../styles/variables.scss';

.token-icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .token-img {
        border-radius: 50%;
        display: block;
        height: 60px;
        width: 60px;

        &.selectable {
            cursor: pointer;
        }
    }
}

