.bands-container {
    background-image: url('../../assets/backgrounds/bands_bkg.webp');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 30px 30px 80px;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: QuadratDemibold;

    .band-points-table {
        position: absolute;
        width: auto;
        bottom: 15px;
        right: 15px;
        z-index: 100;
    }

    .bands {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 100%;
    }
}
