@import './variables.scss';

@keyframes width-pulsate {
    from {
        border-width: 2px;
    }

    to {
        border-width: 3px;
    }
}

@keyframes color-pulsate {
    from {
        border-color: $selectable-alt;
    }

    to {
        border-color: $selectable-main;
    }
}

@keyframes glow-pulsate {
    from {
        box-shadow: 0 0 6px 2px $selectable-alt;
    }

    to {
        box-shadow: 0 0 7px 3px $selectable-main;
    }
}

@keyframes slide-in-right {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-out-right {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(150%, 0, 0);
    }
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
