.form-control-wrapper {
    margin: 20px auto;

    &:first-of-type {
        margin-top: 0;
    }

    .form-error {
        margin-bottom: -10px;
        margin-top: 5px;
    }
}

.form-control {
    background: white;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: Arial;
    font-size: 1em;
    min-height: 38px;
    padding: 10px 12px;
    text-align: left;
    width: 100%;

    &:focus {
        outline: none;
    }

    &.outline {
        border: 1px solid $medium-gray;
    }

    &.select {
        appearance: none;
        background-color: white;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
