.link {
    transition: color .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.link-primary {
    @extend .link;
    color: $green;

    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: $green;
    }
}

.link-secondary {
    @extend .link;
    color: $light-gray;

    &:hover {
        color: $white;
    }
}

.link-tertiary {
    @extend .link;
    color: $sage-brown;

    &:hover {
        color: $sage-brown;
    }
}

.link-quaternary {
    @extend .link;
    color: $dark-brown;

    &:hover {
        color: $dark-brown;
    }
}

.menu {
    .menu-item {
        margin-left: 15px;
        position: relative;

        &:after {
            background-color: $white;
            content: '';
            display: block;
            height: 2px;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            transition: transform .15s ease-in-out, opacity .15s ease-in-out;
            width: 100%;
        }

        &:hover {

            &:after {
                opacity: 1;
                transform: translateY(325%);
            }
        }
    }
}
