@font-face {
    font-family: 'RobotoSlab';
    src: url('../assets/fonts/RobotoSlab-Regular.eot');
    src: url('../assets/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../assets/fonts/RobotoSlab-Regular.woff') format('woff'),
         url('../assets/fonts/RobotoSlab-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaxtonStd-Bold';
    src: url('../assets/fonts/CaxtonStd-Bold.eot');
    src: url('../assets/fonts/CaxtonStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/CaxtonStd-Bold.woff2') format('woff2'),
         url('../assets/fonts/CaxtonStd-Bold.woff') format('woff'),
         url('../assets/fonts/CaxtonStd-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuadratDemibold';
    src: url('../assets/fonts/QuadratDemibold.eot');
    src: url('../assets/fonts/QuadratDemibold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/QuadratDemibold.woff2') format('woff2'),
         url('../assets/fonts/QuadratDemibold.woff') format('woff'),
         url('../assets/fonts/QuadratDemibold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord';
    src: url('../assets/fonts/Discord.eot');
    src: url('../assets/fonts/Discord.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Discord.woff2') format('woff2'),
         url('../assets/fonts/Discord.woff') format('woff'),
         url('../assets/fonts/Discord.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
