@font-face {
    font-family: 'RobotoSlab';
    src: url('../assets/fonts/RobotoSlab-Regular.eot');
    src: url('../assets/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../assets/fonts/RobotoSlab-Regular.woff') format('woff'),
         url('../assets/fonts/RobotoSlab-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoneHenge';
    src: url('../assets/fonts/StoneHenge-Regular.eot');
    src: url('../assets/fonts/StoneHenge-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/StoneHenge-Regular.woff2') format('woff2'),
         url('../assets/fonts/StoneHenge-Regular.woff') format('woff'),
         url('../assets/fonts/StoneHenge-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IrishUncialfabeta';
    src: url('../assets/fonts/IrishUncialfabeta-Regular.eot');
    src: url('../assets/fonts/IrishUncialfabeta-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/IrishUncialfabeta-Regular.woff2') format('woff2'),
         url('../assets/fonts/IrishUncialfabeta-Regular.woff') format('woff'),
         url('../assets/fonts/IrishUncialfabeta-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Livingstone';
    src: url('../assets/fonts/Livingstone-Regular.eot');
    src: url('../assets/fonts/Livingstone-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Livingstone-Regular.woff2') format('woff2'),
         url('../assets/fonts/Livingstone-Regular.woff') format('woff'),
         url('../assets/fonts/Livingstone-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.eot');
    src: url('../assets/fonts/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Pacifico-Regular.woff2') format('woff2'),
         url('../assets/fonts/Pacifico-Regular.woff') format('woff'),
         url('../assets/fonts/Pacifico-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord';
    src: url('../assets/fonts/Discord.eot');
    src: url('../assets/fonts/Discord.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Discord.woff2') format('woff2'),
         url('../assets/fonts/Discord.woff') format('woff'),
         url('../assets/fonts/Discord.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GochiHand';
    src: url('../assets/fonts/GochiHand-Regular.eot');
    src: url('../assets/fonts/GochiHand-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/GochiHand-Regular.woff2') format('woff2'),
         url('../assets/fonts/GochiHand-Regular.woff') format('woff'),
         url('../assets/fonts/GochiHand-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SecurityDisc';
    src: url('../assets/fonts/SecurityDisc.eot');
    src: url('../assets/fonts/SecurityDisc.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/SecurityDisc.woff2') format('woff2'),
         url('../assets/fonts/SecurityDisc.woff') format('woff'),
         url('../assets/fonts/SecurityDisc.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
