$cream: #fcf5e5;
$dark-blue: #2c3e50;
$dark-brown: #564844;
$dark-green: #57947f;
$gold: #c2a255;
$gray: #5e5c65;
$green: #68b198;
$light-gray: #e5e2e6;
$light-medium-gray: #8c8c8c;
$off-white: #fdfdfd;
$medium-dark-gray: #6b7b81;
$medium-gray: #b5b5b5;
$medium-gray-2: #6f6f6f;
$sage-brown: #776d6d;
$player-label: #7eaebe;
$orange-wizard: #e38b54;
$red-wizard: #ea5253;
$crimson-wizard: #ca395d;
$red: #f04a4a;

// Breakpoints
$screen-sm: 768px;
