$background: black;
$dark-blue: #2c3e50;
$dark-brown: #564844;
$dark-teal: #406e73;
$green: #68b198;
$light-gold: #e6cfa6;
$gold: #c2a255;
$gray: #5e5c65;
$teal: #68aab1;
$light-gray: #e5e2e6;
$light-gray-2: #c3c3c3;
$off-white: #fdfdfd;
$medium-dark-gray: #6b7b81;
$medium-gray: #b5b5b5;
$medium-gray-2: #8c8c8c;
$medium-gray-3: #4f4f4f;
$dark-gray: #434343;
$dark-gray-2: #363636;
$sage-brown: #776d6d;
$player-label: #7eaebe;
$orange: #f3c873;
$red-wizard: #ea5253;
$crimson: #ca395d;
$red: #f04a4a;

// Breakpoints
$screen-sm: 768px;
