$background: black;
$dark-blue: #2c3e50;
$dark-brown: #564844;
$dark-teal: #4e868c;
$green: #68b198;
$light-gold: #e6cfa6;
$light-gray: #e5e2e6;
$light-gray-2: #c3c3c3;
$gold: #c2a255;
$gray: #5e5c65;
$teal: #68aab1;
$off-white: #fdfdfd;
$medium-dark-gray: #6b7b81;
$medium-gray: #b5b5b5;
$medium-gray-2: #8c8c8c;
$medium-gray-3: #4f4f4f;
$dark-gray: #434343;
$dark-gray-2: #363636;
$sage-brown: #776d6d;

// Cards
$card-blue: #1462a1;
$card-brown: #553104;
$card-gray: #696969;
$card-green: #2e8b57;
$card-orange: #ff8c00;
$card-purple: #6a0dad;
$card-red: #b22222;

// Tokens
$token-black: #1f211c;
$token-blue: #2da5d7;
$token-green: #73aa37;
$token-pink: #f6a0c2;
$token-white: #f2eed9;
$token-yellow: #fed732;

$card-width: 180px;
$card-height: 265px;

// Breakpoints
$screen-sm: 768px;
