@import '../../styles/variables.scss';

.app {
    background-image: url('../../assets/trolls.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    &.in-game {

        > .content {
            overflow: visible;
        }
    }
}
