@import '../../styles/variables.scss';

.app {
    display: flex;
    flex-direction: column;
    height:100%;
    background-image: url('../../assets/trolls.png');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;

    > .content {
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        display: flex;
    }
}
