@import '../../styles/variables.scss';

.login-form-wrapper {
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    box-sizing: border-box;
    color: $light-gray;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 375px;

    .form-title {
        margin: 8px 0 15px;
    }

    .form-type-toggle {
        cursor: pointer;
        user-select: none;
    }

    .logo {
        display: block;
        height: auto;
        margin: 0 auto 5px auto;
        margin-bottom: 5px;
        max-height: 135px;
        max-width: 165px;
        width: auto;
    }

    .reset-password-wrapper {
        bottom: -30px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}
