@import '../../styles/variables.scss';

.merfolk-track-container {
    background-image: url('../../assets/backgrounds/merfolk_track_bkg.webp');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    font-family: QuadratDemibold;

    .age-points-table {
        max-width: 125px;
        font-size: .8rem;
        margin-bottom: -35px;

        th, td {
            padding: 5px;
        }
    }

    .merfolk-track {
        transform: rotate(180deg);

        .row {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 14px;
            max-width: 95%;
            margin: auto;
            grid-auto-flow: dense;
            margin-bottom: 10px;
            justify-content: center;
            justify-items: center;

            &:nth-child(odd){
                direction: rtl;
            }
        }

        .square {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            border: 1px solid $light-gray-2;
            height: 100%;
            position: relative;
            text-align: center;
            border-radius: 5px;
            box-sizing: border-box;
            color: $off-white;
            transform: rotate(180deg);
            width: 100%;

            &.square-invisible {
                visibility: hidden;
            }

            &.square-age {
                max-width: 75%;
                max-height: 75%;
                align-self: center;
            }

            &.checkpoint {
                scale: 1.1;
                border: 2px solid $off-white;

                &:before {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 85%;
                    height: 85%;
                    content: '';
                    opacity: .3;
                    background-image: url('../../assets/tokens/marker_w.webp');
                    background-position-x: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            &.square-age {

                .number {
                    font-size: .9rem;
                    margin-bottom: 2px;
                }
            }

            .age {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -135%);
            }

            .victory-points-icon {
               position: absolute;
               fill: rgba(255, 255, 255, .5);
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
               height: 100%;
               width: 100%;
            }
        }

        .number {
            line-height: 1;
            font-weight: bold;
            z-index: 1;
        }

        .player-tokens {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            .token-icon {
                width: 80%;
                height: 80%;
            }

            @for $i from 2 through 100 {
                .token-icon:nth-child(#{$i}) {
                    position: absolute;
                    transform: translateX(calc($i - 1) * 4%)  translateY(calc($i - 1) * -12%);;
                    transform-origin: center;
                    z-index: $i;
                }
            }
        }
    }
}
