@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.game-container {
    background-image: url('../../assets/backgrounds/ocean_bkg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    &.created {
        background-image: url('../../assets/backgrounds/dragon_bkg.png');
        background-position-y: top;
        background-size: cover;
        overflow: visible;
    }

    .game {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        overflow: hidden;
    }

    .regions-container {
        width: 60vw;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        position: relative;

        .regions-row {
            display: flex;
            align-content: flex-start;
            justify-content: center;

            .region {
                flex-basis: 33.33%;
                box-sizing: border-box;
                position: relative;

                &.red {
                    top: 4%;
                }

                &.blue {
                    right: -3%;
                    top: 2.5%;
                }

                &.gray {
                    top: 3.5%;
                    left: -7%;
                }

                &.orange {
                    top: -22.5%;
                    right: -.5%;
                }

                &.green {
                    bottom: 16%;
                    left: -2.8%;
                }

                &.purple {
                    left: -5.7%;
                    top: -31%;
                }
            }
        }

    }

    .deck {
        position: fixed;
        right: 2%;
        bottom: 5%;
    }

    .play-band-notification,
    .free-token-notifaction {
        background: rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        bottom: 8%;
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.03);
        box-sizing: border-box;
        color: $off-white-2;
        font-family: QuadratDemibold;
        font-size: 1.1rem;
        left: 50%;
        padding: 10px 20px;
        position: absolute;
        transform: translateX(-50%);
        z-index: 150;
    }

    .play-band-notification {
        background: rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.75);
        top: 50%;
        transform: translate(-50%, -50%);
        bottom: auto;
        cursor: pointer;

        &:hover {
            text-shadow: 0 0 5px rgba(25, 49, 52, 0.8),
                0 0 10px rgba(36, 76, 82, 0.6),
                0 0 15px rgba(104, 170, 177, 0.4),
                0 0 20px rgba(150, 210, 220, 0.3);
        }
    }

    .dragon-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url('../../assets/backgrounds/dragon_overlay.png');
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 150;
        animation: fadeInOut 2s ease-in forwards;
        animation-iteration-count: 1;
    }

    .debug {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (orientation: portrait) {

    .game-container {

        .regions-container {
            width: 75vh;
        }
    }
}
