@import '../../styles/variables.scss';

.game-container {
    background-image: url('../../assets/map_bkg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 100%;
    position: relative;

    &.created {
        background-image: url('../../assets/dragon_bkg.png');
        background-position-y: top;
        background-size: cover;
    }

    .game {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        overflow: hidden;
    }

    .deck {
        position: fixed;
        right: 2%;
        bottom: 5%;
    }
}

