@import '../../styles/variables.scss';

.game-container {
    background-image: url('../../assets/dragon_bkg.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 100%;
    padding: 20px;

    > .content {
        flex-grow: 1;
    }
}

