@import '../../styles/variables.scss';

.card {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid rgba(25, 25, 25, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    width: $card-width;
    height: $card-height;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &.selectable:not(.paused) {
        &:after {
            content: '';
            position: absolute;
            width: 103%;
            height: 102.5%;
            border-radius: $card-border-radius;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 3px solid $selectable-main;
            box-sizing: border-box;
            animation: color-pulsate 1s infinite alternate,
                glow-pulsate 1s infinite alternate;
        }
    }

    &.selected {
        &:after {
            content: '';
            position: absolute;
            width: 103%;
            height: 102.5%;
            border-radius: $card-border-radius;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 3.5px solid $selected;
            box-sizing: border-box;
        }
    }

    &.blue {
        background: $card-blue;
        border-color: $card-blue;
        border-width: 0;
        padding: 5px;;
        // background-image: url('../../assets/cards/card_blue_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.gray {
        background: $card-gray;
        border-color: $card-gray;
        border-width: 0;
        padding: 5px;;
        // background-image: url('../../assets/cards/card_gray_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.green {
        background: $card-green;
        border-color: $card-green;
        border-width: 0;
        padding: 5px;;
        // background-image: url('../../assets/cards/card_green_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.orange {
        background: $card-orange;
        border-color: $card-orange;
        border-width: 0;
        padding: 5px;
        // background-image: url('../../assets/cards/card_orange_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.purple {
        background: $card-purple;
        border-color: $card-purple;
        border-width: 0;
        padding: 5px;;
        // background-image: url('../../assets/cards/card_purple_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.red {
        background: $card-red;
        border-color: $card-red;
        border-width: 0;
        padding: 5px;;
        // background-image: url('../../assets/cards/card_red_bkg.png');
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.skeletons {
        border-color: $card-brown;
    }

    .tribe-name {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        font-size: .9rem;
        font-weight: bold;
        padding: 6px;
        text-align: center;
    }

    .tribe-description {
        margin-top: auto;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        color: black;
        font-size: 0.9rem;
        padding: 6px;
    }

    .set-leader-btn-wrapper {
        margin-top: 5px;
        z-index: 100;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }

    .leader-icon {
        color: $gold-alt;
        font-size: 1.5rem;
        left: 50%;
        position: absolute;
        top: -13%;
        transform: translateX(-50%);

        &.shadow {
            color: rgba(0, 0, 0, 0.8);
            top: -12.5%;
            transform: translateX(-55%);
            font-size: 1.5rem;
        }
    }

    .card-content {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        flex-grow: 1;
    }
}
