@import '../../styles/variables.scss';

.card {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid rgba(25, 25, 25, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    padding: 10px;

    &.hover {
        z-index: 10;
    }

    &.blue {
        border-color: $card-blue;

        .tribe-name {
            // background-color: $card-blue;
        }
    }

    &.gray {
        border-color: $card-gray;

        .tribe-name {
            // background-color: $card-gray;
        }
    }

    &.green {
        border-color: $card-green;

        .tribe-name {
            // background-color: $card-green;
        }
    }

    &.orange {
        border-color: $card-orange;

        .tribe-name {
            // background-color: $card-orange;
        }
    }

    &.purple {
        border-color: $card-purple;

        .tribe-name {
            // background-color: $card-purple;
        }
    }

    &.red {
        border-color: $card-red;

        .tribe-name {
            // background-color: $card-purple;
        }
    }

    .tribe-name {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        font-size: .9rem;
        font-weight: bold;
        padding: 6px;
        text-align: center;
    }

    .tribe-description {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        color: black;
        font-size: 0.9rem;
        padding: 6px;
    }
}
