.match-row {

    .players-header,
    .players-cell {
        max-width: 225px;
    }

    .players-row {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        align-items: center;

        &:nth-of-type(2) {
            margin-top: 10px;
        }
    }

    .tribes-row {
        display: flex;
        gap: 10px;
        justify-content: center;

        &:nth-of-type(2) {
            margin-top: 10px;
        }

        .tribe-icon {
            box-sizing: border-box;

            .tribe-img {
                height: 60px;
                width: 60px;
            }
        }
    }
}
