@import '../../styles/variables.scss';

.player-area {
    position: fixed;

    &.bottom {
        bottom: 0;
        left: 50%;
    }

    &.top {
        top: 0;
        height: 50px;
        transform: scaleY(-1);
        left: 50%;
    }

    &.right {
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.right-corner {
        top: 35px;
        right: 35px;
        transform: translateY(-50%) rotate(225deg);
    }

    &.left {
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(90deg);
    }

    &.left-corner {
        top: 35px;
        left: 35px;
        transform: translateY(-50%) rotate(-225deg);
    }

    .player-hand {
        position: relative;
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;

        .cards {
            position: absolute;
            left: 50%;

            > .card {
                cursor: pointer;
                left: -#{calc($card-width / 2)};
                position: absolute;

                &:hover {
                    z-index: 1;
                    transition: transform 0.2s ease;
                }
            }

            > .facedown-card {
                cursor: default;
                left: -#{calc($card-width / 1.5 / 2)};
                position: absolute;
            }
        }
    }
}
