@import '../../styles/variables.scss';

.player-area {
    position: fixed;
    // display: none;

    &.bottom {
        bottom: 0;
        left: 50%;
    }

    &.top {
        top: 0;
        height: 50px;
        transform: scaleY(-1);
        left: 50%;
        display: block;
    }

    &.right {
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.left {
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(90deg);
    }

    .player-hand {
        position: relative;
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;

        .cards {
            position: absolute;
            left: 50%;

            > .card {
                cursor: pointer;
                left: -#{calc($card-width / 2)};
                position: absolute;

                &:hover {
                    z-index: 1;
                    transition: transform 0.2s ease;
                }
            }
        }
    }
}
