@import '../../styles/variables.scss';

.player-area {
    position: fixed;

    &.bottom {
        bottom: 0;
        left: 50%;

        .player-widget {
            left: 4%;
            bottom: 10%;
        }
    }

    &.top {
        top: 0;
        height: 50px;
        left: 50%;

        .player-hand {
            transform: translateY(-50%) rotate(180deg);
        }

        .player-widget {
            right: 27%;
            top: 8%;
        }
    }

    &.left {
        top: 50%;
        left: 0;

        .player-hand {
            transform: translateY(-50%) rotate(90deg);
        }

        .player-widget {
            flex-direction: column;
            top: 50%;
            transform: translateY(-50%);
            left: 7%;
        }
    }

    &.right {
        top: 50%;
        right: 0;

        .player-hand {
            transform: translateY(-50%) rotate(-90deg);
        }

        .player-widget {
            flex-direction: column;
            top: 50%;
            transform: translateY(-50%);
            right: 7%;
        }
    }

    &.left-corner {
        top: 35px;
        left: 35px;

        .player-hand {
            transform: translateY(-50%) rotate(-225deg);
        }

        .player-widget {
            flex-direction: column;
            left: 8%;
            top: 12%;
        }
    }

    &.right-corner {
        top: 35px;
        right: 35px;

        .player-hand {
            transform: translateY(-50%) rotate(225deg);
        }

        .player-widget {
            flex-direction: column;
            right: 8%;
            top: 12%;
        }
    }


    .player-widget {
        position: fixed;
        z-index: 100;
    }

    .player-hand {
        position: relative;
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;

        .cards {
            position: absolute;
            left: 50%;

            > .card {
                cursor: pointer;
                left: -#{calc($card-width / 2)};
                position: absolute;

                &:hover {
                    z-index: 1;
                    transition: transform 0.2s ease;
                }
            }

            > .facedown-card {
                cursor: default;
                left: -#{calc($card-width / 1.5 / 2)};
                position: absolute;
            }
        }
    }
}
