@import '../../styles/animations.scss';
@import '../../styles/variables.scss';

.deck {
    position: relative;
    width: 9vw;
    aspect-ratio: 180 / 265;
    display: inline-block;
    z-index: 101;

    .facedown-card {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    &.selectable {
        cursor: pointer;

        .facedown-card:first-child {

            &:hover {
                &:after {
                    content: '';
                    position: absolute;
                    width: 103%;
                    height: 103%;
                    border-radius: $card-border-radius;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 3px solid $selectable-main;
                    box-sizing: border-box;
                }
            }
        }
    }

    .facedown-card {
        position: absolute;
    }

    @for $i from 1 through 100 {
        .facedown-card:nth-child(#{$i}) {
            transform: translateX(-$i * .1px) translateY($i * .2px);
            z-index: 100 - $i;
        }
    }

    .deck-info {
        border-radius: 4px;
        color: $off-white-2;
        padding: 3px 6px;
        font-size: .9rem;
        font-weight: bold;
    }

    .revealed-dragon {
        position: absolute;
        height: auto;
        width: 30%;
        z-index: 101;
        pointer-events: none;

        &.dragon-1 {
            bottom: 1.5px;
            right: 1.5px;
        }

        &.dragon-2 {
            bottom: 1.5px;
            left: 1.5px;
            transform: scaleX(-1);
        }

        &.dragon-3 {
            top: 1.5px;
            left: 1.5px;
            transform: scale(-1, -1);
        }
    }

    .age {
        font-family: QuadratDemibold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        font-size: .8rem;
        width: 100%;
        text-align: center;
        text-shadow: 1px 1px 2px $dark-gray;
    }

    .total-cards-in-deck {
        display: flex;
        right: 4%;
        position: absolute;
        top: 4%;
        z-index: 101;
        font-size: .8rem;
        pointer-events: none;

        .count {
            text-shadow: 1px 1px 2px $dark-gray;
        }

        .icons-wrapper {
            position: relative;

            .icon {
                height: 15px;
                width: 15px;
                margin-right: 5px;
                fill: $off-white-2;
                position: absolute;
                right: 90%;

                &.cards-shadow {
                    fill: rgba(0, 0, 0, 0.4);
                    transform: translate(-1px, .5px);
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .deck {

        .age {
            font-size: 1rem;
            pointer-events: none;
        }

        .total-cards-in-deck {
            font-size: .9rem;
        }

        .revealed-dragon {
            height: auto;
            width: 32%;
        }
    }
}
