@import '../../styles/animations.scss';
@import '../../styles/variables.scss';

.deck {
    height: calc($card-height / 1.5);
    width: calc($card-width / 1.5);

    &.selectable {
        cursor: pointer;

        .facedown-card:first-child {

            &:hover {
                &:after {
                    content: '';
                    position: absolute;
                    width: 102%;
                    height: 102%;
                    border-radius: 8px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 3px solid $selectable-main;
                    box-sizing: border-box;
                }
            }
        }
    }

    .facedown-card {
        position: absolute;
    }

    @for $i from 1 through 100 {
        .facedown-card:nth-child(#{$i}) {
            transform: translateX(-$i * .1px) translateY($i * .2px);
            z-index: 100 - $i;
        }
    }

    .total-cards-in-deck {
        background: rgba(0, 0, 0, .6);
        position: absolute;
        left: 50%;
        top: 90%;
        z-index: 101;
        transform: translate(-50%, -75%);
        padding: 3px 6px;
        border-radius: 4px;
        font-size: .9rem;
        font-weight: bold;
        color: $off-white-2;
    }
}
