@import '../../styles/variables.scss';

.deck {
    height: calc($card-height / 1.5);
    width: calc($card-width / 1.5);

    .facedown-card {
        position: absolute;
    }

    @for $i from 1 through 100 {
        .facedown-card:nth-child(#{$i}) {
            transform: translateX(-$i * .1px) translateY($i * .2px);
            z-index: 100 - $i;
        }
    }

    .total-cards-in-deck {
        background: rgba(255, 255, 255, .6);
        position: absolute;
        left: 50%;
        top: 90%;
        z-index: 101;
        transform: translate(-50%, -75%);
        color: $dark-gray;
        padding: 3px 5px;
        border-radius: 4px;
        font-size: .9rem;
    }
}
