@import '../../styles/variables.scss';

.home {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 500px;
    padding: 25px;
    text-align: center;
    width: 100%;

    .intro {
        background: rgba(0, 0, 0, .7);
        padding: 20px;
        box-sizing: border-box;
        color: white;
    }

    .logo {
        display: block;
        height: auto;
        width: auto;
        max-width: 175px;
        margin: 0 auto;
    }

    .screenshot-wrapper {
        box-shadow: 0 1px 3px 2px $light-gray;
        background: white;
        margin-bottom: 25px;
        padding: 10px;

        img {
            max-width: 100%;
        }
    }

    .actions {
        display: flex;
        margin-top: 20px;

        > * {
            flex-grow: 1;

            &:first-of-type {
                margin-right: 5px;
            }

            &:last-of-type {
                margin-left: 5px;
            }
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .home {
        margin-top: 100px;
        max-width: 650px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}
