@import '../../styles/variables.scss';

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: relative;
    background: rgba(0, 0, 0, .5);
    min-height: 57px;

    > * {
        align-self: center;
        color: $light-gray;
        text-shadow: 2px 2px $dark-gray;
    }

    .logo-wrapper {
        color: white;
        font-size: 2rem;
        font-family: QuadratDemibold;
        text-align: center;
        text-shadow: 2px 2px $dark-gray;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        top: 60%;

        img {
            height: auto;
            width: 110px;
        }

        a,
        a:active,
        a:visited,
        a:focus,
        a:hover {
            color: white;
        }

        .online {
            font-family: 'EndOfTheDream';
            font-size: 1.2rem;
            position: absolute;
            right: -20px;
            text-shadow: none;;
            bottom: 5px;
        }
    }

    .desktop-menu,
    .mobile-menu {
        margin-left: auto;
    }
}
