@import '../../styles/variables.scss';

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: relative;
    background: rgba(0, 0, 0, .4);

    > * {
        align-self: center;
        color: $light-gray;
        text-shadow: 2px 2px $dark-gray;
    }

    .logo {
        position: absolute;
        left: 2.5%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 40px;
        width: auto;
    }

    .title {
        color: white;
        font-size: 2rem;
        font-family: CaxtonStd-Bold;
        text-align: center;
        text-shadow: 2px 2px $dark-gray;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        a,
        a:active,
        a:visited,
        a:focus,
        a:hover {
            color: white;
        }

        .subtitle {
            font-size: 1.5rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-shadow: none;;
        }
    }

    .desktop-menu,
    .mobile-menu {
        margin-left: auto;
    }
}
