@import '../../styles/variables.scss';


.password-form {
    background: rgba(0, 0, 0, .8);
    border-radius: 4px;
    box-sizing: border-box;
    color: $light-gray;
    width: 375px;
    padding: 25px;
    position: relative;
    text-align: center;

    .form-title {
        color: $light-gray;
    }

    .form-control {
        border: 1px solid $dark-gray;
    }

    .btn {
        border: 1px solid $light-medium-gray;

        &:hover {
            border-color: $light-gray;
        }
    }
}
