@import '../../styles/variables.scss';

.user-avatar {

    &.dark {

        .user-avatar-icon-wrapper {
            background: $sage-brown;

            .user-avatar-icon {
                color: $light-gray;
            }
        }

        .user-avatar-label {
            color: $sage-brown;
        }
    }

    .user-avatar-icon-wrapper {
        background: $light-gray;
        border-radius: 50%;
        display: inline-block;
        height: 27px;
        overflow: hidden;
        position: relative;
        transition: all .15s ease-in-out;
        vertical-align: middle;
        width: 27px;

        .user-avatar-icon {
            color: $sage-brown;
            font-size: 1.45rem;
            position: absolute;
            left: 50%;
            top: 65%;
            transition: all .15s ease-in-out;
            transform: translate(-50%, -50%);
        }
    }

    .user-avatar-label {
        color: $light-gray;
        cursor: default;
        font-size: 1.14rem;
        margin-left: 7.5px;
        vertical-align: middle;
    }
}

a {

    .user-avatar {

        .user-avatar-label {
            cursor: pointer;
        }
    }
}
