@import '../../styles/variables.scss';

.age-results-container {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9),
        white);
    background-image: url('../../assets/backgrounds/age_results_bkg.webp');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    font-family: QuadratDemibold;
    overflow-y: auto;
    height: 85vh;
    overflow-y: auto;

    .title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 35px;
        color: white;
        text-shadow: .5px .5px 3px black;
    }

    .player-scores {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 50px auto 45px;

        .player {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .score {
            margin-top: 35px;
            position: relative;
            height: 50px;
            width: 50px;

            &:before {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                height: 115%;
                width: 115%;
                background: rgba(0, 0, 0, 0.7);
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }

            .points {
                text-align: center;
                font-size: 1rem;
                color: white;
                text-shadow: .5px .5px 3px black;
                z-index: 2;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .victory-points-icon {
                fill: $light-gold;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 135%;
                height: auto;
            }
        }

        .winner-icon {
            position: absolute;
            top: -18%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            color: $gold-alt;
        }
    }

    .scores-breakdown-table {
        background: rgba(0, 0, 0, .7);
        margin-bottom: 65px;

        td {
            padding: 10px;
        }
    }
}
