@import '../../styles/variables.scss';

.market {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 10px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    perspective: 1000px;

    .card-wrapper {
        width: clamp(60px, 10vw, 90px);
        height: calc(clamp(60px, 10vw, 90px) * 1.47);
        border-radius: 5px;
        transition: transform 0.3s ease;
        display: flex;
        cursor: pointer;
        position: relative;
        transform: rotateX(40deg);
        margin-bottom: -14px;

        .tribe-name,
        .tribe-description {
            opacity: 0;
            font-size: .8rem;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        &.hover {
            transform: translateY(-100%) translateX(-25%) rotateX(0deg) scale(.9);
            z-index: 10;

            .card {
                position: absolute;
                height: $card-height;
                width: $card-width;

                .tribe-name,
                .tribe-description {
                    opacity: 1;
                }
            }
        }
    }
}

