@import '../../styles/variables.scss';

.market {
    margin: 0 auto;
    width: 70vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0 .5%;
    position: absolute;
    bottom: 14.5%;
    left: 50%;
    transform: translateX(-50%);
    perspective: 1000px;

    .card-wrapper {
        aspect-ratio: 180 / 265;
        transition: transform 0.3s ease;
        display: flex;
        cursor: pointer;
        position: relative;
        transform: rotateX(40deg);

        .tribe-name,
        .tribe-description {
            display: none;
            font-size: .8rem;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            height: auto;
            width: 100%;
            z-index: 1;
        }

        &.hover {
            transform: translateY(-110%) translateX(-25%) rotateX(0deg) scale(.9);
            z-index: 10;

            .card {
                position: absolute;
                height: $card-height;
                width: $card-width;

                .tribe-name,
                .tribe-description {
                    display: block;
                }
            }
        }
    }
}

@media screen and (orientation: portrait) {

    .market {
        width: 70vh;
    }
}
