@import '../../styles/variables.scss';

.footer {
    background: linear-gradient(to top, black, transparent);
    width: 100%;

    .footer-content {
        color: white;
        margin: 0 auto;
        max-width: 80%;
        padding: 10px 15px 20px;
        text-align: center;

        .copyrights {
            display: flex;
            font-size: .915rem;
            justify-content: center;
            margin-bottom: 10px;

            > * {
                align-self: center;
            }

            .contact-us-link {
                margin-left: 5px;
            }
        }

        .disclaimer {
            font-size: .8rem;
        }
    }
}

@media only screen and (min-width: $screen-sm) {

    .footer {

        .footer-content {
            max-width: 55%;
        }
    }
}
