@import '../../styles/variables.scss';


.player-hand {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    flex-wrap: nowrap;
    pointer-events: none;

    .card-wrapper {
        width: calc(10%);
        aspect-ratio: 180 / 265;
        position: relative;
        margin-right: -#{calc(((12% * 1.5) / 2))};
        pointer-events: all;

        &.hover {
            z-index: 1;
        }

        &:last-child {
            margin-right: 0;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            height: 100%;
            width: 100%;
            border-radius: 5px;
            transition: transform 0.3s ease;

            .tribe-name,
            .tribe-description {
                opacity: 0;
                font-size: .8rem;
            }
        }
    }
}

.player-hand.bottom {
    bottom: 0;
    left: 50%;
    width: 100vw;

    .card-wrapper {
        transform: translateY(62%);
        width: calc(10% * 1.6);

        .card {
            cursor: pointer;
        }
    }
}

.player-hand.top {
    top: 0;
    left: 50%;
    transform: rotate(180deg) translateX(50%) translateY(68%);
    width: 100vw;

    .card-wrapper {
        width: calc(10% * 1.2);
    }
}

.player-hand.left {
    top: 50%;
    left: 0;
    transform: translateX(-53%) translateY(-50%) rotate(90deg);
    width: 100vw;
}

.player-hand.right {
    top: 50%;
    left: 0;
    transform: translateX(53%) translateY(-50%) rotate(-90deg);
    width: 100vw;
}

.player-hand.left-corner {
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}

.player-hand.right-corner {
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateX(50%) translateY(-50%) rotate(225deg);
}

@media only screen and (min-width: $screen-sm) {

    .player-hand {

        &.bottom,
        &.top {
            width: 80vw;
        }

        .card-wrapper {

            .card {
                .tribe-name,
                .tribe-description {
                    opacity: 1;
                    font-size: .9rem;
                }
            }
        }
    }
}
