@import '../../styles/variables.scss';


.player-hand {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;

    .card-wrapper {
        width: calc(10% * 1.5);
        aspect-ratio: 180 / 265;
        position: relative;
        margin-right: -#{calc(((12% * 1.5) / 2))};

        &.hover {
            z-index: 1;
        }

        &:last-child {
            margin-right: 0;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            transition: transform 0.3s ease;

            .tribe-name,
            .tribe-description {
                opacity: 0;
                font-size: .8rem;
            }
        }
    }
}


@media only screen and (min-width: $screen-sm) {

    .player-hand {
        width: 85vw;
        bottom: -18%;

        .card-wrapper {

            .card {
                .tribe-name,
                .tribe-description {
                    opacity: 1;
                    font-size: .9rem;
                }
            }
        }
    }
}

.player-hand.top {
    top: 0;
    height: 50px;
    left: 50%;

    .player-hand {
        transform: translateY(-50%) rotate(180deg);
    }

    .player-widget {
        right: 27%;
        top: 8%;
    }
}

.player-hand.left {
    top: 50%;
    left: 0;

    .player-hand {
        transform: translateY(-50%) rotate(90deg);
    }

    .player-widget {
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        left: 7%;
    }
}

.player-hand.right {
    top: 50%;
    right: 0;

    .player-hand {
        transform: translateY(-50%) rotate(-90deg);
    }

    .player-widget {
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        right: 7%;
    }
}

.player-hand.left-corner {
    top: 35px;
    left: 35px;

    .player-hand {
        transform: translateY(-50%) rotate(-225deg);
    }

    .player-widget {
        flex-direction: column;
        left: 8%;
        top: 12%;
    }
}

.player-hand.right-corner {
    top: 35px;
    right: 35px;

    .player-hand {
        transform: translateY(-50%) rotate(225deg);
    }

    .player-widget {
        flex-direction: column;
        right: 8%;
        top: 12%;
    }
}
