@import '../../styles/variables.scss';

.room {
    background: rgba(0, 0, 0, .5);
    border: 2px solid $dark-gray;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0;
    position: relative;

    .room-title {
        display: flex;
        margin-bottom: 15px;
        position: relative;
        justify-content: center;
        align-items: center;

        .room-name {
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px;
            font-weight: bold;
            color: white;
            font-family: QuadratDemibold;
            white-space: nowrap;
        }

        .player-count-label {
            border-radius: 4px;
            padding: 5px;
            color: white;
            white-space: nowrap;

            .player-icon {
                margin-right: 5px;
            }
        }

        .password-icon {
            color: white;
        }
    }

    .players {
        text-align: center;

        .player {
            display: inline-block;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px;
            color: white;
            margin: 0 2.5px 10px;
            font-size: .9rem;
        }
    }

    .tribes {
        margin: 12px auto 15px;

        .tribe-row {
            display: flex;
            justify-content: space-evenly;
        }

        .tribe-icon {
            margin: 5px 10px;

            .tribe-icon-inner {
                border-radius: 50%;
                position: relative;

                .tribe-img {
                    border: 1px solid $dark-gray;
                    display: block;
                    height: 75px;
                    width: 75px;
                }

                .tribe-placeholder {
                    border: 1px solid $dark-gray;
                    border-radius: 50%;
                    align-items: center;
                    color: white;
                    box-sizing: border-box;
                    display: inline-flex;
                    font-size: 1.5rem;
                    font-weight: bold;
                    justify-content: center;
                    width: 77px;
                    height: 77px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .join-room-wrapper {
        display: flex;

        > * {
            flex-grow: 1;
        }

        .leave-btn {
            margin-right: 7px;
        }

        .rejoin-btn {
            margin-left: 7px;
        }
    }

    .game-state {
        align-self: center;
        display: inline-block;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 5px;
        padding: 5px 12px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
    }

    .created-at {
        border-top: 1.5px solid rgb(67, 67, 67, 0.3);
        padding: 10px 0;
        margin: 20px -15px 0;
        color: rgba(255, 255, 255, .8);
        text-align: center;
        background: linear-gradient(to top, rgba(0, 0, 0, .7), transparent);
        font-size: .9rem;
    }
}

@media only screen and (min-width: $screen-sm) {

    .room {

        .tribes {

            .tribe-icon {
                margin: 5px 7.5px;

                .tribe-icon-inner {

                    .tribe-img {
                        height: 55px;
                        width: 55px;
                    }

                    .tribe-placeholder {
                        width: 57px;
                        height: 57px;
                    }
                }
            }
        }
    }
}

