
@import '../../styles/variables.scss';
@import '../../styles/shared.scss';

.desktop-menu {
    display: none;
}

@media only screen and (min-width: $screen-sm) {

    .desktop-menu {
        display: flex;

        > * {
            align-self: center;
        }

        .user-avatar {
            cursor: pointer;
            margin-left: 15px;
        }
    }
}

.user-menu {

    .menu-items-wrapper {
        margin-top: 6px;

        .menu-items {

            .menu-item {
                display: flex;

                .menu-item-label {
                    margin-left: 7.5px;
                }

                .icon-logout {
                    transform: scaleX(-1);
                }
            }

            .user-avatar {
                padding: 0 16px 6px;
                box-sizing: border-box;
                white-space: nowrap;
            }
        }
    }
}
