
@import '../../styles/variables.scss';

.desktop-menu {
    display: none;
}

@media only screen and (min-width: $screen-sm) {

    .desktop-menu {
        display: flex;

        > * {
            align-self: center;
        }

        .menu-item {
            margin-left: 15px;
            position: relative;

            &:after {
                background-color: $gold;
                content: '';
                display: block;
                height: 2px;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                transition: transform .15s ease-in-out, opacity .15s ease-in-out;
                width: 100%;
            }

            &:hover {

                &:after {
                    opacity: 1;
                    transform: translateY(325%);
                }
            }
        }

        .user-avatar {
            cursor: pointer;
            margin-left: 15px;
        }
    }
}

.user-menu {

    .menu-items-wrapper {
        margin-top: 6px;

        .menu-items {

            .menu-item {
                display: flex;

                .menu-item-label {
                    margin-left: 7.5px;
                }

                .icon-logout {
                    transform: scaleX(-1);
                }
            }

            .user-avatar {
                padding: 0 16px 6px;
                white-space: nowrap;
            }
        }
    }
}
